* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-header {
  width: 100%;
  height: 100vh;
  /* background-image: url(https://miro.medium.com/v2/resize:fit:1400/1*RaR21HexwFW0-MUHyzJgfw.jpeg); */
  /* background-image: url(https://vectorsfile.com/file-view/time-travel-logo-design-cdr-vec.jpg); */
  /* background-position: center; */
  /* background-size: fill; */
  /* background-repeat: no-repeat; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* opacity: 0.6; */
}

.hero--img {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.header--text-box {
  text-align: center;
  color: rgb(57, 36, 8);
  width: 50%;
  /* margin-left: 100px; */
}

/* About page styling  */
.aboutBody {
  background: linear-gradient(
    120deg,
    rgba(67, 180, 92, 0.652),
    rgba(35, 114, 188, 0.49)
  );
}

/* Navigation menu styles */
nav {
  background-color: rgba(59, 193, 115, 0.212);
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding: 30px 30px;
}

.menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 0 10px;
}

.menu a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  transition: 0.4s;
  position: relative;
}

.menu a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: transparent;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.menu a:hover::before {
  background-color: #4b5147;
  transform: scaleX(1);
  transform-origin: left;
}
/* Search Bar Styles */
.search {
  display: flex;
  align-items: center;
}

#searchInput {
  border: 1px solid transparent;
  padding: 10px;
  margin-right: 10px;
  border-radius: 3px;
  background-color: transparent;
  color: black;
}

#searchInput:hover {
  border: 1px solid black;
}
#searchButton {
  background-color: rgba(190, 189, 200, 0.051);
  font-size: 20px;
  color: black;
  border: none;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.4s;
}

#searchButton:hover {
  background-color: #0b86a266;
  color: white;
}
