* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-header {
  width: 100%;
  height: 100vh;
  /* background-image: url(https://miro.medium.com/v2/resize:fit:1400/1*RaR21HexwFW0-MUHyzJgfw.jpeg); */
  /* background-image: url(https://vectorsfile.com/file-view/time-travel-logo-design-cdr-vec.jpg); */
  /* background-position: center; */
  /* background-size: fill; */
  /* background-repeat: no-repeat; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* opacity: 0.6; */
}

.hero--img {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.header--text-box {
  text-align: center;
  color: rgb(57, 36, 8);
  width: 50%;
  /* margin-left: 100px; */
}
